@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.work-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-article img {
  margin: 1rem auto;
}

.work-article hr {
  margin: 2rem 0;
  width: 100%;
}

.work-article h2 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  margin: 1rem 0;
}

.work-article p {
  font-family: 'Roboto';
  font-size: 18px;
  margin: 1rem 0;
}

.work-article p {
  max-width: 800px;
}

.work-article ul {
  display: inline-block;
}

.work-article a {
  color: #661499;
  font-weight: 600;
}

.work-article a:hover {
  text-decoration: underline;
}
